<!-- <p>student-list works!</p> -->
<table class="table table-hover">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Hometown</th>
            <th>Mobile</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stu of list">
            <td (click)="onEdit(stu)">{{stu.firstname}} {{stu.lastname}}</td>
            <td (click)="onEdit(stu)">{{stu.hometown}}</td>
            <td (click)="onEdit(stu)">{{stu.mobile}}</td>
            <td><a class="btn text-danger"><i class="fa fa-trash"></i></a></td>
        </tr>
    </tbody>
    
</table>

<!-- <ul>
    <li *ngFor="let stu of list">
        {{stu.firstname}}
    </li>
</ul> -->