<h1 class="display-4">Student Registration</h1>

<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="stuService.formData.id">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input class="form-control" name="firstname" #firstname="ngModel" [(ngModel)]="stuService.formData.firstname" placeholder="First Name" required>
            <div class="validation-error" *ngIf="firstname.invalid && firstname.touched" >required field</div>
        </div>
        <div class="form-group col-md-6">
            <input class="form-control" name="lastname" #lastname="ngModel" [(ngModel)]="stuService.formData.lastname" placeholder="Last Name" required>
            <div class="validation-error" *ngIf="lastname.invalid && lastname.touched" >required field</div>
        </div>
    </div>
    <div class="form-group">
        <input class="form-control" name="hometown" #hometown="ngModel" [(ngModel)]="stuService.formData.hometown" placeholder="Home Town">
    </div>
    <div class="form-group">
        <input class="form-control" name="mobile" #mobile="ngModel" [(ngModel)]="stuService.formData.mobile" placeholder="Mobile Number">
    </div> 
    <div class="form-group">
        <button [disabled]="form.invalid" class="btn btn-lg btn-block btn-info" type="submit">SUBMIT</button>
    </div> 

</form>
